<h2>Editar Cliente</h2>

<form action="/atualizar_cliente/{{ cliente.id_cliente }}" method="post">

<h3>Dados do cliente</h3>

CPF/CNPJ:
<input name="cod_cliente" value="{{ cliente.cod_cliente }}" readonly>

<br><br>

Nome:
<input name="nome" value="{{ cliente.nome }}">

<br><br>

<h3>Telefone</h3>

Telefone:
<input name="telefone" value="{{ telefone.telefone if telefone else '' }}">

<br><br>

<h3>Endereço</h3>

Rua:
<input name="rua" value="{{ endereco.rua if endereco else '' }}">
<br><br>

Número:
<input name="numero" value="{{ endereco.numero if endereco else '' }}">

<br><br>

Bairro:
<input name="bairro" value="{{ endereco.bairro if endereco else '' }}">

<br><br>

Cidade:
<input name="cidade" value="{{ endereco.cidade if endereco else '' }}">

<br><br>

Estado:
<input name="estado" value="{{ endereco.estado if endereco else '' }}">

<br><br>

CEP:
<input name="cep" value="{{ endereco.cep if endereco else '' }}">

<br><br>

<div>

<button type="submit"
onclick="return confirm('Confirmar alterações no cadastro de {{ cliente.nome }}?')">
Salvar alterações
</button>

<button type="reset"
onclick="return confirm('Cancelar alterações realizadas?')">
Cancelar alterações
</button>

</div>

<br>

<div>

<a href="/">
<button type="button">
Home
</button>
</a>

<button type="button" onclick="history.back()">
Página anterior
</button>

</div>

</form>