{% extends "base.html" %}

{% block title %}
Consultar Cliente
{% endblock %}


{% block page_title %}

<div class="logo-home">
    <img src="{{ url_for('static', filename='imagens/Identidade_visual/logo_zito.png') }}"
         alt="Zito Tapeçaria">
</div>

<h1>Consultar Cliente</h1>

{% endblock %}


{% block content %}

<div class="card search-container">

    <form action="{{ url_for('main.buscar') }}" method="post">

        <label for="cod_cliente">
            <strong>Pesquisa por CPF ou CNPJ:</strong>
        </label>

        <input 
            type="text"
            id="cod_cliente"
            name="cod_cliente"
            placeholder="Digite o CPF ou CNPJ"
        >

        <br><br>

        <button type="submit">Pesquisar</button>

    </form>

</div>

<div class="footer-buttons">
</div>

{% endblock %}