{% extends "base.html" %}

{% block title %}
Visualizar Orçamento
{% endblock %}

{% block page_title %}
Orçamento #{{ orcamento.id_orcamento }}
{% endblock %}

{% block content %}

<h2>Cliente</h2>

<p><strong>Nome:</strong> {{ cliente.nome }}</p>

<hr>

<h2>Veículo</h2>

<p><strong>Modelo:</strong> {{ veiculo.modelo }}</p>
<p><strong>Placa:</strong> {{ veiculo.placa }}</p>

<hr>

<h2>Detalhes do Pedido</h2>

<p><strong>Data:</strong> {{ orcamento.dat_orcamento }}</p>

<p><strong>Bancos reformados:</strong> {{ orcamento.qtd_bancos }}</p>

<p><strong>Apoios de cabeça:</strong> {{ orcamento.qtd_apoio_cabeca }}</p>

<p><strong>Padrão original:</strong>
{{ "Sim" if orcamento.bool_original else "Não" }}
</p>

<p><strong>Logo prensada:</strong>
{{ "Sim" if orcamento.bool_logo_prensada else "Não" }}
</p>

<p><strong>Troca de espuma:</strong>
{{ "Sim" if orcamento.bool_espuma else "Não" }}
</p>

<hr>

<h2>Materiais Escolhidos</h2>

<h3>Tecidos</h3>

<ul>

{% for item in tecidos %}

<li>

{{ item.tecido.material }} - {{ item.tecido.cor }}

{% if item.obs_item %}
<br>
<em>Obs:</em> {{ item.obs_item }}
{% endif %}

</li>

{% endfor %}

</ul>

---

<h3>Costuras</h3>

<ul>

{% for item in costuras %}

<li>

{{ item.costura.tipo }}

{% if item.obs_item %}
<br>
<em>Obs:</em> {{ item.obs_item }}
{% endif %}

</li>

{% endfor %}

</ul>

---

<h3>Cores</h3>

<ul>

{% for item in cores %}

<li>

{{ item.cor.descricao }}

{% if item.obs_item %}
<br>
<em>Obs:</em> {{ item.obs_item }}
{% endif %}

</li>

{% endfor %}

</ul>

---

{% if espumas %}

<h3>Espumas</h3>

<ul>

{% for item in espumas %}

<li>

{{ item.espuma.tipo }}

{% if item.obs_item %}
<br>
<em>Obs:</em> {{ item.obs_item }}
{% endif %}

</li>

{% endfor %}

</ul>

{% endif %}

<hr>

<h2>Observações Gerais</h2>

<p>{{ orcamento.obs }}</p>

<hr>

<h2>Valor do Orçamento</h2>

<h3>R$ {{ orcamento.valor }}</h3>

<a href="{{ url_for('main.gerar_pdf_orcamento', id_orcamento=orcamento.id_orcamento) }}">
    <button>Exportar PDF</button>
</a>

{% endblock %}